.coveralls.yml
docs/_build/**
_build/**
docs/activation-tmp-*
cover
.coverage
neat-checkpoint-*
fitness_history.csv
speciation.csv
species_fitness.csv
.mypy_cache
*~
*.pyc
*.pyo
__pycache__/
*stats*.dat*
